<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="chat-header">

        <h4><%= @chat_room.name %></h4>
        <% if @trade == "m" %>
          <%= link_to traded_path, data: {toggle: "modal", target: "#mark-as-traded-modal"} do %>
          <button class="btn btn-warning tradebutton--spacing">Mark item as traded</button>
          <% end %>
        <% end %>

      </div>
      <div class="messages">
        <% @chat_room.messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
      <div id="create-message">
        <%= simple_form_for [ @chat_room, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
          <%= f.input :content, label: false %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script>
    // scrollLastMessageIntoView();
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create({ channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> }, {
      received: (data) => {
        // console.log(data)
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
      }
    }
    })
  function scrollLastMessageIntoView() {
    console.log("test");
  const messages = document.querySelectorAll('.message');
  const lastMessage = messages[messages.length - 1];

    if (lastMessage !== undefined) {
      console.log("inside");
      lastMessage.scrollIntoView();
    }
  }
  </script>
<% end %>
<!-- Modal -->
<div class="modal fade" id="mark-as-traded-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Congrats on your trade!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@chat_room, @review] do |f| %>
        <%= f.input :review, collection: (1..5).to_a, label: "Rate this user" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <%= f.submit "Send your review", class: "btn btn-warning button--space" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="space-for-navbar"></div>
