<p id="notice"><%= notice %></p>


<div class="swiper-mainbody">
  <!-- Swiper -->
  <div class="swiper-container swiper-container-h">
    <div class="swiper-wrapper">

      <% if true %>
      <% @furniture_items.each_with_index do |furniture_item, index | %>
        <div class="swiper-slide card--design">
          <% image = @images.where('furniture_item_id = ?', furniture_item.id) %>
          <% unless image.nil? %>
            <% if image.count >1 %>
              <div class="swiper-container swiper-container-v">
                <div class="swiper-wrapper">
                  <% image.each do |i| %>
                    <div class="swiper-slide" id="section1-<%= i.id %>">
                      <%= cl_image_tag i.photo, class: "card--image", crop: :fill %>
                    </div>
                  <% end %>
                  <div class="swiper-pagination swiper-pagination-v"></div>
                </div>
              </div>
            <% else %>
              <div class="swiper-slide">
                <%= cl_image_tag image[0].photo, class: "card--image", crop: :fill %>
              </div>
            <% end %>
            <br>
            <div>
            <h6 class="card--title"><%= furniture_item.title %></h6>
            </div>
            <br>
            <p class="card--content"> <%= furniture_item.description %></p>
            <br>
            <% user = @user.find(furniture_item.user_id) %>
            <%= cl_image_tag user.photo, width: 1700, height: 1700,:crop=>"crop", :gravity=>"face", class: "avatar" %> <strong class="mr-2"><%=user.first_name%></strong>
          <% end %>
        </div>
      <% end %>
      <div class="swiper-pagination swiper-pagination-h"></div>
      <% else %>
        false
      <% end %>
    </div>
  </div>
</div>


