<p id="notice"><%= notice %></p>

<% @furniture_items.each do |furniture_item| %>
  <div class="card--design">
    <% image = @images.where('furniture_item_id = ?', furniture_item.id) %>
    <% unless image.nil? %>
      <% image.each do |i| %>
        <%= cl_image_tag i.photo, class: "card--image", crop: :fill %>
        <br>
        <br>
      <% end %>
    <% end %>
    <h6 class="card--title"><%= furniture_item.title %></h6>
    <p class="card--content"> <%= furniture_item.description %></p>
    <% user = @user.find(furniture_item.user_id) %>
    <%= cl_image_tag user.photo, width: 1700, height: 1700,:crop=>"crop", :gravity=>"face", class: "avatar" %> <strong class="mr-2"><%=user.first_name%></strong>

  </div>
<% end %>
