<div class="navbar navbar-light navbar-lewagon fixed-bottom">
  <% @category = Category.find_by_name("View All") %>
  <%= link_to category_furniture_items_path(@category.id), class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
  <div class="nav_icons" id="navbarSupportedContent">
      <% if user_signed_in? %>
          <%= link_to categories_index_path, class: "nav-link" do %>
          <p class="nav-item"><i class="nav_icon fas fa-list-ul"></i></p>
          <% end %>

          <%= link_to messages_index_path, class: "nav-link" do%>
          <p class="nav-item"><i class="nav_icon far fa-comments"></i></p>
          <% end %>


        <%= link_to myprofile_path, class: "nav-link" do%>
          <%= cl_image_tag current_user.photo, class: "avatar nav-item", width: 1700, height: 1700,:crop=>"crop", :gravity=>"face"%>
        <% end %>
      <% else %>
        <p class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </p>
      <% end %>
  </div>
</div>
